.title {
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
    text-shadow: 3px 1px 2px $light-color;
}

#form {
    width: 350px;
    background-color: $dark;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
    border: 3px solid $light-color;

    .input-group {
        display: flex;
        justify-content: center;
        flex-direction: column;

        label {
            color: #ffffff;
            margin-top: 10px;
        }

        &>input {
            width: 100%;
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 5px;
            margin-top: 10px;

        }
        .error {
            margin-top: 10px;
            color: $danger;
        }
        &.success input {
            outline: 3px solid $success;
        }
        &.error input {
            outline: 3px solid $danger;
        }
        
    }

}
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(213, 150, 33);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $light-color;
}

button:hover {
    background-color: rgb(51, 44, 159);
    color: #ffffff;
    border: 1px solid $light-color;
    transition: 0.2s ease-out;
}